body {
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
}

.flex-container div {
    display: inline-flexbox;
    padding: 5em;
    margin: 1em;
    background-color: blue;
    color: antiquewhite;
    vertical-align: middle;
    text-decoration: none;
    text-emphasis: bold;
    font-size: larger;
}

#roll-result {
    text-align: center;
    text-emphasis: bold;
    font-size: larger;
}